<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--引入外部属性文件-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->
        <property name="locations">
            <array>
                <value>classpath:jdbc.properties</value>
            </array>
        </property>
    </bean>
    <!--配置c3p0的连接池-->
    <bean id="comboPooledDataSource4" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置业务层的类-->
    <bean id="accountService4" class="com.ambzer.springtransaction.demo4.AccountServiceImpl">
        <property name="accountDao" ref="accountDao4"/>
        <!--注入事务管理模板-->
    </bean>
    <!--配置持久层的类-->
    <bean id="accountDao4" class="com.ambzer.springtransaction.demo4.AccountDaoImpl">
        <property name="dataSource" ref="comboPooledDataSource4"/>
    </bean>

    <!--配置事务管理器，无论是编程式的事务管理还是声明式的事务管理，都需要配置事务管理器-->
    <bean id="dataSourceTransactionManager4" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="comboPooledDataSource4"/>
    </bean>

    <!--开启注解事务-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager4"/>

</beans>