<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ambzer.spring.advisor"/>

    <aop:config>
        <aop:pointcut id="idempotentOperation"
                      expression="execution(* com.ambzer.spring.advisor.AspectTarget.*(..))"/>
        <aop:aspect id="concurrentOperationExcutorAOP" ref="concurrnetOperationExcutor">
            <aop:around method="doConcurrentOperation" pointcut-ref="idempotentOperation"/>
        </aop:aspect>

    </aop:config>

    <bean id="concurrnetOperationExcutor" class="com.ambzer.spring.advisor.ConcurrnetOperationExcutor">
        <property name="maxRetries" value="3"/>
        <property name="order" value="100"/>
    </bean>

</beans>