<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="injectionMapper" class="com.ambzer.spring.injection.InjectionMapperImpl"/>
    <bean id="propertiesInjectionService" class="com.ambzer.spring.injection.PropertiesInjectionServiceImpl">
        <property name="injectionMapper" ref="injectionMapper"/>
        <!--<constructor-arg name="injectionMapper" ref="injectionMapper"/>-->
    </bean>

</beans>